
<div *ngIf="!contentLoaded" class="d-flex justify-content-center" style="height: 100%">
  <mat-spinner class="align-self-center"></mat-spinner>
</div>
<div *ngIf="contentLoaded">

  <!-- Smaller cards -->
  <div class="row">
    <div class="col-md-4 col-sm-12 " *ngFor="let graph of graphs; let i = index">
      <div class="card text-center" style="height: 100%" >
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-12">
              <h1 class="card-title" style="text-align: left">{{graph.name}}</h1>
            </div>
            <div class="col-md-6 col-12" style="text-align: right">
              <a (click)="setMainContent(i)" class="btn btn-sm btn-primary">View All</a>
            </div>

          </div>
          <p class="card-text">{{graph.description}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Main (currently selected) card -->
  <div class="row pt-4 d-flex justify-content-center">
    <div class="col-12">
          <div class="card text-center">
            <div class="card-body">
              <p class="card-text">{{mainGraph.description }}</p>
              <div style="">
                <canvas baseChart
                        [datasets]="mainGraph.data"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptionsMain"
                        [colors]="lineChartColors"
                        [legend]="false"
                        [chartType]="lineChartType"
                        [plugins]="lineChartPlugins">
                </canvas>
              </div>
            </div>
          </div>

    </div>

  </div>

</div>


