
  <div *ngIf="!contentLoaded" class="d-flex justify-content-center" style="height: 100%">
    <mat-spinner class="align-self-center"></mat-spinner>
  </div>
  <div *ngIf="contentLoaded">

    <!-- Smaller cards for DNA GENES & ENZYMES -->
    <div class="row">

      <div class="col-md-4 col-sm-12 ">
        <div class="card text-center" style="height: 100%">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h1  class="bg-mat-accent card-title w100 text-center">DNAs</h1>
              </div>
              <div class="col-12">
                <h4 class="mb-0 card-title w100 text-center">{{totalDnas}}/25</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 ">
        <div class="card text-center" style="height: 100%">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h1 class="bg-mat-accent card-title w100 text-center">ENZYMES</h1>
              </div>
              <div class="col-12">
                <h4 class="mb-0 card-title w100 text-center">{{totalEnzymes}}/100</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 ">
        <div class="card text-center" style="height: 100%">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h1 class="bg-mat-accent card-title w100 text-center">GENES</h1>
              </div>
              <div class="col-12">
                <h4 class="mb-0 card-title w100 text-center">{{totalGenes}}/50</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- GRAPH AND ANALYSIS HISTORY -->
    <div class="row pt-4 d-flex">
      <div class="col-md-8 col-12">
        <div class="card text-center h-100">
          <div class="card-body">
            <h1 class="bg-mat-accent card-text">{{mainGraph.description }}</h1>
            <div style="">
              <canvas baseChart
                      [datasets]="mainGraph.data"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptionsMain"
                      [colors]="lineChartColors"
                      [legend]="false"
                      [chartType]="lineChartType"
                      [plugins]="lineChartPlugins">
              </canvas>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-4 col-12">
        <div class="card text-center h-100">
          <div class="card-body h-100">
            <h1  class="card-text bg-mat-accent">RECENT ANALYSES</h1>
            <table class="table w-100">
              <thead class="thead-light ">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let summary of analysisSummaries; let last = last; let i = index" class="d-lg-table-row"  [class.d-md-none]="i > 4" [class.border-bottom]="last" >
                <td scope="row" style="width: 25%" class="pt-4">{{summary.created.substring(0, 10) | date}}</td>
                <td class="pt-4" style="font-size: 1rem;">{{summary.analysisName}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>

  </div>


