<div class="full-size d-flex justify-content-center">

  <form [hidden]="showIframe" [formGroup]="plasmidForm" (ngSubmit)="onSubmit()" class="border border-primary px-2 py-2" style="width: 50%; align-self: center">


    <!-- Dna Selection -->
    <ng-select [items]="allDna"
               required="true"
               placeholder="Select Dna *"
               bindLabel="name"
               bindValue="id"
               formControlName="selectedDnaId">
    </ng-select>

    <div *ngIf="submitted && selectedDnaId.invalid"
         class="alert alert-danger small">

      <div *ngIf="selectedDnaId.errors.required">
        Please select a dna sequence
      </div>
    </div>

    <!-- Enzyme Selection -->
    <ng-select [items]="allEnzymes"
               placeholder="Select Enzymes"
               multiple="true"
               bindLabel="name"
               bindValue="id"
               formControlName="selectedEnzymesId">
    </ng-select>

    <!-- Gene Selection -->
    <ng-select [items]="allGenes"
               placeholder="Select Genes"
               multiple="true"
               bindLabel="name"
               bindValue="id"
               formControlName="selectedGenesId">
    </ng-select>

    <button class="btn btn-primary" type="submit" >Submit</button>

  </form>

  <app-plasmid-js-iframe style="width: 400px; height: 400px; align-self: center" [hidden]="!showIframe" #iframeComponent></app-plasmid-js-iframe>

</div>







