<div class="card text-center">

  <nav class="navbar navbar-light bg-primary justify-content-between">

    <div>
      <button class="btn bg-white text-dark mr-md-2 mr-1 btn-outline-dark" type="submit">DNA</button>
      <button class="btn bg-white text-dark mr-md-2 mr-1 btn-outline-dark" type="submit">ENZYMES</button>
      <button class="btn bg-white text-dark btn-outline-dark" type="submit">GENES</button>
    </div>

    <div class="form-inline">
      <input class="btn bg-white text-dark mt-2 mt-md-0 btn-outline-dark" placeholder="search text" type="search">
      <button class="btn bg-white text-dark mt-2 mt-md-0 btn-outline-dark" type="submit">Search</button>
    </div>


  </nav>

    <table class="table w-100">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Smth</th>
        <th scope="col">Smth</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
  <div class="card-footer text-muted">

    KLE MOGOČE LAST CHANGE TIMESTAMP :)

  </div>
</div>
