mat-sidenav-container {
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
}

.flexExpand {
  flex: 1 1 auto;
}

.flexSpaceBetween {
  justify-content: space-between;
}

a{
  color: white;
}
