<mat-sidenav-container>

  <mat-sidenav style="" #sidenav mode="side">

    <mat-toolbar class="bg-white">
      <mat-toolbar-row>
        <span class="">WEB-UI</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>

      <h2 matSubheader> ROUTES </h2>

      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon color="primary" aria-hidden="false" aria-label="Example dashboard icon">home</mat-icon>
        <span class="d-none d-lg-block">Home</span>
      </a>

      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon color="primary" aria-hidden="false" aria-label="Example dashboard icon">dashboard</mat-icon>
        <span class="d-none d-lg-block">Dashboard</span>
      </a>

      <a mat-list-item routerLink="/analysis" routerLinkActive="active">
        <mat-icon color="primary" aria-hidden="false" svgIcon="microscope" aria-label="Example home icon"></mat-icon>
        <span class="d-none d-lg-block">Analysis</span>

      </a>

      <a mat-list-item routerLink="/storage" routerLinkActive="active">
        <mat-icon color="primary" aria-hidden="false" aria-label="Example dashboard icon">storage</mat-icon>
        <span class="d-none d-lg-block">Storage</span>
      </a>

    </mat-nav-list>

    <mat-nav-list style="position: absolute; bottom: 10pt">


      <a mat-list-item routerLink="/storage" routerLinkActive="active">
        <mat-icon color="primary" aria-hidden="false" aria-label="Example dashboard icon">logout</mat-icon>
        <span class="d-none d-lg-block">Log out</span>
      </a>

    </mat-nav-list>


  </mat-sidenav>
  <mat-sidenav-content class="pt-0 pl-0 pr-0" style="">

    <!-- Top Bar -->
    <nav class="navbar navbar-expand bg-mat-primary">

      <button mat-icon-button  (click)="sidenav.toggle();">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

      </div>
      <div class="mx-auto order-0">
        <a class="d-none d-lg-block navbar-brand mx-auto navbar-collapse collapse" >MyDna Codes</a>
      </div>

      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pr-2" data-toggle="modal" data-target="#settingsModal" style="cursor: pointer">
            <mat-icon class="mt-1" aria-hidden="false" aria-label="Example dashboard icon">settings</mat-icon>
          </li>
          <li class="nav-item pr-2">
            <mat-icon class="mt-1" aria-hidden="false" aria-label="Example dashboard icon">notification_important</mat-icon>
          </li>
          <li class="nav-item pr-2" data-toggle="modal" data-target="#accountModal" style="cursor: pointer">
            <mat-icon class="mt-1" aria-hidden="false" aria-label="Example dashboard icon">account_circle</mat-icon>
          </li>
        </ul>
      </div>



    </nav>

    <!-- Modals -->
    <!-- Settings Modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            SETTINGS GO HERE
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Account Modal -->
    <div class="modal fade" id="accountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ACCOUNT SETTINGS GO HERE
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of modals -->

    <!-- Application Content -->
    <div (click)="sidenav.opened ? sidenav.toggle() && $event.preventDefault() : ''" class="" style="background-color: #f6f8fb; height: 100%" [ngClass]="{'dim': sidenav.opened}">
      <div (click)="sidenav.opened ? sidenav.toggle() && $event.preventDefault() : ''" [ngClass]="{'unclickable': sidenav.opened}" class="pl-4 pt-3" style="background-color: #f6f8fb;height: 100%; max-width: 98%">
        <router-outlet style="pointer-events: none"></router-outlet>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
