@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

html, body {
  height: 100%;
  margin: 0
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.bg-mat-primary {
  color: white;
  background-color: black;
}

.bg-mat-accent {
  background-color: rgba(255, 229, 0, 0.63);
  color: black;
}

.bg-mat-secondary {
  background-color: #757575;
}

.dim {
  background: #000;
  opacity: 0.4;
}

.modal-backdrop {
  display: none;
}

.modal {
  background: rgba(0, 0, 0, 0.5)
}

td {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

th {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
