@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

html, body { height: 100%; margin: 0}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.bg-mat-primary {
  color: white;
  background-color: #673ab7
}

.dim {
  background:#000;
  opacity:0.5;
}


